body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
}

.form input {
  flex: 1;
  padding: 8px;
}

.form button {
  padding: 8px;
  background: blue;
  color: white;
  border: none;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background: #eee;
  padding: 8px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}